PORT=3000
BASE_URL=https://yourdomain.com
PASS_TYPE_ID=pass.com.yourrestaurant.loyalty
TEAM_ID=YOURTEAMID
ORG_NAME=Your Restaurant
CERT_PATH=./certs/signerCert.pem
KEY_PATH=./certs/signerKey.pem
WWDR_PATH=./certs/wwdr.pem
CERT_PASSPHRASE=
APN_CERT_PATH=./certs/apnCert.pem
APN_KEY_PATH=./certs/apnKey.pem
DB_PATH=./loyalty.db
ADMIN_TOKEN=changeme123
